<div class="container mt-5">
    <h2>Apólice de Seguro</h2>
    <form>
        <div class="mb-3">
            <label for="nome" class="form-label">Nome do Segurado</label>
            <input type="text" class="form-control" [(ngModel)]="nome" name="nome" id="nome"
                placeholder="Insira o nome do segurado">
        </div>
        <div class="mb-3">
            <label for="numeroApolice" class="form-label">Número da Apólice</label>
            <input type="text" class="form-control" [(ngModel)]="numeroApolice" name="numeroApolice" id="numeroApolice"
                placeholder="Insira o número da apólice">
        </div>
        <button type="button" class="btn btn-primary" (click)="consultarApolice()">Consultar Apólice</button>
        <p>{{ resultado }}</p>
    </form>
</div>